*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 1.4rem;
  background-color: hsl(30, 54%, 90%);
  color: hsl(30, 10%, 34%);
  width: 100%;
  position: relative;
}

hr {
  background-color: hsl(30, 18%, 87%);
  border: none;
  height: 0.1rem;
}

h1, h2 {
  font-family: "Young Serif", serif;
  font-weight: 400;
}

h1 {
  font-size: 4rem;
  color: hsl(24, 5%, 18%);
}

h2 {
  color: hsl(14, 45%, 36%);
  font-size: 2.4rem;
}

@media (max-width: 768px) {
  h1 {
    font-size: 3.2rem;
  }
  h2 {
    font-size: 2.4rem;
  }
}
.recipe-container {
  background-color: hsl(0, 0%, 100%);
  width: 40%;
  padding: 4rem;
  border-radius: 2rem;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.recipe-image {
  width: 100%;
  height: auto;
  border-radius: 2rem;
  overflow: hidden;
}
.recipe-image img {
  width: 100%;
  height: auto;
}
.recipe-prepCard {
  background-color: hsl(330, 100%, 98%);
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 1rem;
}
.recipe-prepCard h2 {
  font-family: "Outfit", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  color: hsl(332, 51%, 32%);
}
.recipe-prepCard ul {
  list-style-position: outside;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-left: 1.5rem;
}
.recipe-prepCard ul li {
  text-indent: 1rem;
}
.recipe-prepCard ul li::marker {
  color: hsl(332, 51%, 32%);
}
.recipe-prepCard ul li span {
  font-weight: 700;
}
.recipe-ingredients {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.recipe-ingredients ul {
  list-style-position: outside;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 1.5rem;
}
.recipe-ingredients ul li {
  text-indent: 2rem;
}
.recipe-ingredients ul li::marker {
  color: hsl(14, 45%, 36%);
}
.recipe-instructions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.recipe-instructions ol {
  counter-reset: list;
  padding-left: 0.5rem;
}
.recipe-instructions ol li {
  display: flex;
  align-items: flex-start;
  line-height: 2rem;
  margin-bottom: 1rem;
}
.recipe-instructions ol li::before {
  counter-increment: list;
  content: counter(list) ". "; /* Adds numbering */
  min-width: 1rem; /* Ensures space for the number */
  margin-right: 1.5rem; /* Adds space between the number and the text */
  color: hsl(332, 51%, 32%);
  font-weight: 700;
}
.recipe-instructions span {
  font-weight: 700;
}
.recipe-nutrition {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.recipe-nutrition table {
  width: 100%;
  border-collapse: collapse;
}
.recipe-nutrition table tr {
  height: 4rem;
  border-bottom: 0.1rem solid hsl(30, 18%, 87%);
}
.recipe-nutrition table tr td {
  text-indent: 1.5rem;
}
.recipe-nutrition table tr td:nth-child(2n) {
  color: hsl(332, 51%, 32%);
  font-weight: 700;
}

@media (max-width: 1200px) {
  .recipe-container {
    width: 60%;
  }
}
@media (max-width: 992px) {
  .recipe-container {
    width: 70%;
  }
}
@media (max-width: 768px) {
  .recipe-container {
    width: 80%;
  }
}
@media (max-width: 575px) {
  .recipe-container {
    width: 100%;
    margin: 0;
    border-radius: 0;
    padding: 0;
  }
  .recipe-container > *:not(:first-child) {
    margin: 0 3rem;
  }
  .recipe-image {
    border-radius: 0;
  }
}

/*# sourceMappingURL=styles.css.map */
