@use './variables' as *;

*,*::after,*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Outfit", sans-serif;
    font-size: 1.4rem;
    background-color: $color-stone-100;
    color: $color-stone-600;
    width: 100%;
    position: relative;
}