@use '../variables' as *;
@use '../mixins' as *;

h1, h2 {
    font-family: "Young Serif", serif;
    font-weight: 400;
}

h1 {
    font-size: 4rem;
    color: $color-stone-900;
}

h2 {
    color: $color-brown-800;
    font-size: 2.4rem;
}

@include respond-to(sm) {
    h1 {
        font-size: 3.2rem;
    }

    h2 {
        font-size: 2.4rem;
    }
}